/* 全体 */
.App {
  min-height: 100vh;
  padding: 1rem;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
}

.state-container,
.res-container,
.input-container,
.btn-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 1em 3em;
  text-align: center;
  margin: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  gap: 12px;
  max-width: auto;
}

h1,
h2,
h3,
p {
  margin: 0.1em 0;
}

header {
  text-align: center;
  margin: 0;

}

.input-field {
  padding: 1rem;
  max-width: auto;
  font-size: 1rem;
  border-radius: 6px;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #c2fca0;
}


.input-field:focus {
  border: 2px solid #ffffff;
  outline: none;
}



.btn {
  width: 6em;
  height: 3em;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post {
  background: #3498db;
}

.get {
  background: #2ecc71;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


/* 結果表示グリッド */
/* .grid-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
  width: 700px;
  align-content: center;
  justify-items: center;
} */



/* ボタングループ */


.state-container,
.res-container,
.get-container {
  flex-direction: column;
}

h3 {
  color: #ffd700;
}


p {
  font-size: 1rem;
  font-weight: bold;
}

span {
  color: rgb(211, 209, 209);
  font-size: 1.2em;
  font-weight: bold;
}
